@font-face {
	font-family: 'VT323';
	src: url('/assets/fonts/VT323-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#header {
  width: 100%;
  padding: 0;
}

#header-contents {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brief {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

h1 {
  font-size: 2rem;
}

li {
  margin-top: 0.5rem;
}

#job {
  font-weight: 800;
}

#nested {
  margin-left: 2rem;
  margin-bottom: 0.25rem;
}

#name {
  line-height: 3.5rem;
  padding: 0 0.5rem;
}

#title-name {
  color: white;
  font-size: 3rem;
  display: inline-block;
  vertical-align: middle;
}

#footer {
  margin-top: 3rem;
  padding-top: 2.3rem;
  padding-bottom: 1.7rem;
  display: grid;
}

#contact-points {
  text-align: center;
}

#contact-points > a {
  padding: 1rem;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}